
*{
	margin: 0 auto;
	padding: 0;
}

.ban{
	margin: 0 auto;
	width: 450px;
	
}
.ban li{
	display: block;
	float: left;
}

.ban img{
	display: block;
}

.ban span{
	display: block;
	text-align: center;
}
