body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{ font-family:"微软雅黑";}
input,a{outline:none;}
body,html{
	width: 100%;
	height: 100%;
}
.wqj_section{
	width: 100%;
	height: 170px;
	border: 1px solid #eee;
	color: crimson;

}
.wqj_section img{
	display: block;
	width: 70px;
	height: 70px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
.wqj_section article{
	float: right;
	width: 300px;
	height: 160px;
	padding-top: 20px;
}
.wqj_section article h4{
	width: 300px;
	height: 25px;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 5px;
}
.wqj_section article .wqj_p{
	width: 300px;
	height: 20px;
	font-size: 5px;
	line-height: 20px;
	margin-bottom: 5px;
}
